.main_right form{padding-left: 54px;line-height: 38px;}
.main_right form div{line-height:30px;margin-bottom: 6px;}
.main_right form div label{margin:0 30px 0 20px;}
.main_right form div p{margin-left: 60px;}
.main_right form .subm{width:67px;height:22px;margin-left: 33px;border: 1px solid #c4c4c4;color: #666}
.main_right form a{color: #0078b6;margin-left: 360px;}
.main_right form .submit{width:118px;height:39px;text-align: center;line-height: 39px;background: #963c00;
color: #fff;border: 1px solid #712e01;border-bottom:1px solid #712e01}